.hero-background {
  background-image: url("./components/images/heroes.jpg");
}

html {
  scroll-behavior: smooth;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-text {
  animation: scroll-animation 20s linear infinite;
  font-family: "poppinsbold";
  text-align: center;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 1px purple;

}

.scroll-text:hover {
  animation-play-state: paused;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

@keyframes scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.middle-scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.middle-scroll-text {
  animation: middle-scroll-container 30s linear infinite;
  font-family: "poppinsbold";
  text-align: center;
  font-weight: bolder;
  -webkit-text-stroke: 1px purple;
}

.middle-scroll-text:hover {
  animation-play-state: paused;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

@keyframes middle-scroll-container {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.last-scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.last-scroll-text {
  animation: last-scroll-animation 25s linear infinite;
  font-family: "poppinsbold";
  text-align: center;
  -webkit-text-stroke: 1px purple;
}

.last-scroll-text:hover {
  animation-play-state: paused;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

@keyframes last-scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
