.hero-background {
  background-image: url("./components/images/heroes.jpg");
}




.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-text {

  animation: scroll-animation 20s linear infinite;
  font-family: 'poppinsbold';
  text-align: center;
  -webkit-text-stroke: 1px purple;
}

@keyframes scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


.middle-scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.middle-scroll-text {

  animation: middle-scroll-container 30s linear infinite;
  font-family: 'poppinsbold';
  text-align: center;
  
  
}

@keyframes middle-scroll-container {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}





.last-scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.last-scroll-text {

  animation: last-scroll-animation 25s linear infinite;
  font-family: 'poppinsbold';
  text-align: center;
  -webkit-text-stroke: 1px purple;
}

@keyframes last-scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}