@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth!important;
}

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo&family=Bebas+Neue&family=Carter+One&family=Combo&family=Comfortaa&family=Dancing+Script:wght@500&family=Delius&family=Inter:wght@300&family=Kanit:wght@200&family=Krona+One&family=Merienda&family=Playfair+Display:ital@1&family=Roboto+Serif:opsz,wght@8..144,600&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fjalla+One&family=Italiana&family=Italianno&family=Righteous&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap');

.bebas{
  font-family: 'Bebas Neue', cursive;
}

.alfa{
  font-family: 'Alfa Slab One', cursive;
}

.carter{
  font-family: 'Carter One', cursive;
}

.combo{
  font-family: 'Combo', cursive;
}

.comfortaa{
  font-family: 'Comfortaa', cursive;
}

.dancing{
  font-family: 'Dancing Script', cursive;
}

.delius{
  font-family: 'Delius', cursive;
}

.inter{
  font-family: 'Inter', sans-serif;
}

.kanit{
  font-family: 'Kanit', sans-serif;
}

.krona{
  font-family: 'Krona One', sans-serif;
}

.merienda{
  font-family: 'Merienda', cursive;
}

.playfair{
  font-family: 'Playfair Display', serif;
}

.roboto{
  font-family: 'Roboto Serif', serif;
}
.bakbak{
  font-family: 'Bakbak One', cursive;
}
.fjalla{
  font-family: 'Fjalla One', sans-serif;
}

.italiana{
  font-family: 'Italiana', cursive;
}

.italianno{
  font-family: 'Italianno', cursive;
}

.righteous{
  font-family: 'Righteous', cursive;
}

.sofia{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}